<div class=" col-sm-6 col-md-4 col-lg-3">
  <div class="card rounded">
    <div class="card-caption rounded">
      <div class="card-caption-content">
        <h4><%= book.title %></h2>
        <h5 class="mt-2"><%= book.author %></h4>
      </div>
      <div class="card-caption-controls">
        <a class="card-button text-success" href="/books/edit/<%= book._id %>" title="edit">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a class="card-button text-danger" href="/books/remove/<%= book._id %>" title="remove">
          <i class="fas fa-times-circle"></i>
        </a>
      </div>
    </div>
    <img class="card-img" src=<%=book.cover %> alt="" />
  </div>
</div>
