<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navbar') %> 
    <%- include('./heading') %>
    <%- include('./books_list', {books}) %>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts')%> 
  </body>
</html>
