<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navbar') %> 
    <%- include('./index/heading', {user}) %>
    <%- include('./index/books_list', {books}) %>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts')%> 
    <%- include('./index/rememberScroll')%> 


  </body>
</html>
