<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/navbar') %>
    <%- include('./header')  %> 
    <%- include('./form', {form})  %> 

    <%- include('../../partials/footer') %> <%- include('../../partials/scripts')%>
  </body>
</html>
