<div class="control-group">
  <div class="form-group floating-label-form-group controls mb-0 pb-2">
    <label><%= field.label %> </label>
    <input
      class="form-control"
      name=<%= field.name %>
      type="<%= field.type || 'text'%>"
      placeholder=<%= field.label %>
      required="required"
      data-validation-required-message="Please enter your name."
      value="<%= field.value %>" 
    />
    <p class="help-block text-danger"><%= field.errMsg || '' %> </p>
  </div>
</div>
